{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-undef": 0,
    "quotes": ["error", "single"],
    "no-use-before-define": ["error", { "functions": true, "classes": true }],
    "space-before-function-paren": ["error", "never"]
  }
}