language: node_js
node_js:
- '7.6'
services:
- mongodb
cache:
  directories:
  - node_modules
git:
  depth: 3
install:
- git clone $GIT_CLONE_REMOTE
- cd $REPO_NAME
- git checkout $TRAVIS_BRANCH
- npm i
script: npm run travis-script
# after_script:
#   - npm report-coverage
before_script:
  - npm install -g gulp-cli
# deploy:
#   app: $PROVIDER_APP_NAME
#   skip_cleanup: true
#   provider: $PROVIDER
#   on:
#     branch: $NEW_TRAVIS_BRANCH
after_success:
  - if [ "$TRAVIS_BRANCH" == "develop" ] ; then if [ "$TRAVIS_PULL_REQUEST" == "false" ] ; then bash travis.sh ; fi ; fi
